body {
    scroll-behavior: smooth;
}
section {
    padding: 60px 0;
}
.navbar-nav .nav-link {
    margin-right: 20px;
}
#home {
    background: url('src/bg_rv.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 100vh;
}
#home h1 {
    margin-top: 20%;
}
.bg-light-gray {
    background-color: #f8f9fa;
}
    
  #wh:hover{
    color: #25D366 !important ;
  }
  #fb:hover {
    color:  #1877F2 !important; 
  }
#x:hover{
    color: white !important;
}  
#insta:hover {
    color: #E4405F !important; 
  }
#yt:hover{
    color: red !important;
}
.nav-icon:hover{
    color:red;
}

.nav-bulb-hover:hover{
    color: rgb(236, 236, 71)!important;
}

.nav-pro-hover:hover{
    color: #6C757D !important;
}

.nav-contact-hover:hover{
    color:#DC3545 !important;
}

.nav-home-hover:hover{
    color:#007BFF !important;
}

.nav-service-hover:hover{
    color:#FFC107 !important;
}
